Repository WEC-Sim/WEC-Sim, pull requests merged in 2020-10, with the labels that each got.

#426 WEC-Sim output to a MATLAB structure
  source/objects/simulationClass.m
  source/wecSim.m
Labels: enhancement, simulationClass

#425 Speed wave gauge calculation
  source/objects/waveClass.m
Labels: enhancement, waveClass

#423 Drag body implementation, set nhBody = 2
  source/lib/WEC-Sim/WECSim_Lib.slx
  source/objects/bodyClass.m
  source/objects/simulationClass.m
  source/wecSim.m
Labels: bodyClass, drag/morison, enhancement

#428 Add wave gauge amplitudes to response class
  source/functions/postProcess.m
  source/objects/responseClass.m
Labels: Response Class, enhancement

#434 Added Software Tests section to Overview and updated Publications
  advanced_features.html
  api.html
  code_structure.html
  doctrees/advanced_features.doctree
  doctrees/api.doctree
  doctrees/code_structure.doctree
  doctrees/environment.pickle
  doctrees/overview.doctree
  doctrees/publications.doctree
  doctrees/release_notes.doctree
  doctrees/terminology.doctree
  doctrees/theory.doctree
  doctrees/viz.doctree
  genindex.html
  objects.inv
  overview.html
  publications.html
  release_notes.html
  searchindex.js
  source/code_structure.rst
  source/overview.rst
  source/publications.rst
  source/release_notes.rst
  source/terminology.rst
  source/theory.rst
  source/viz.rst
  terminology.html
  theory.html
  viz.html
Labels: documentation, enhancement

#408 Morison
  docs/man/advanced_features.rst
  docs/man/tutorials.rst
  source/functions/BEMIO/bemio.m
  source/functions/wecSimFcn.m
  source/functions/wecSimMCR.m
  source/functions/wecSimPCT.m
  source/objects/simulationClass.m
  source/wecSim.m
Labels: bodyClass, drag/morison, enhancement

#443 Prefer Static Links to Download Directive in Sphinx Docs
  docs/man/webinars.rst
Labels: documentation

#446 Doc review
  docs/_include/bemio.rst
  docs/_include/mooring.rst
  docs/_include/pto.rst
  docs/_static/images/OSWEC_WECSim.JPG
  docs/_static/images/OSWEC_WECSim_Body.jpg
  docs/_static/images/OSWEC_WECSim_GUI.jpg
  docs/_static/images/OSWEC_WECSim_GlobalRef.jpg
  docs/_static/images/RM3_WECSim.JPG
  docs/_static/images/RM3_WECSim_Body.jpg
  docs/_static/images/RM3_WECSim_GUI.JPG
  docs/_static/images/RM3_WECSim_GlobalRef.jpg
  docs/index.rst
  docs/man/advanced_features.rst
  docs/man/code_structure.rst
  docs/man/contact.rst
  docs/man/getting_started.rst
  docs/man/overview.rst
  docs/man/publications.rst
  docs/man/release_notes.rst
  docs/man/terminology.rst
  docs/man/theory.rst
  docs/man/tutorials.rst
  docs/man/webinars.rst
  source/objects/simulationClass.m
  wecSimTest.m
Labels: documentation
