Repository WEC-Sim/WEC-Sim, pull requests merged in 2021-09, with the labels that each got.

#697 Updating documentation on dev branch
  docs/README.md
  docs/developer/index.rst
  docs/index.rst
  docs/introduction/acknowledgements.rst
  docs/introduction/citation.rst
  docs/introduction/overview.rst
  docs/introduction/publications.rst
  docs/introduction/release_notes.rst
  docs/theory/theory.rst
  docs/user/advanced_features.rst
  docs/user/api.rst
  docs/user/applications.rst
  docs/user/code_structure.rst
  docs/user/getting_started.rst
  docs/user/index.rst
  docs/user/troubleshooting.rst
  docs/user/workflow.rst
Labels: Documentation

#691 Allow zero hydro bodies resolves issue #655
  docs/user/advanced_features.rst
  docs/user/code_structure.rst
  docs/user/tutorials.rst
  docs/user/workflow.rst
  source/functions/BEMIO/Read_WAMIT.m
  source/functions/initializeWecSim.m
  source/objects/bodyClass.m
  source/objects/waveClass.m
Labels: Drag/Morison

#702 Bug fixes for variable step solver resolves #656
  examples/BEMIO/AQWA/Example/bemio.m
  examples/BEMIO/CAPYTAINE/coer_comp/bemio.m
  examples/BEMIO/CAPYTAINE/cubes/bemio.m
  examples/BEMIO/CAPYTAINE/cylinder/bemio.m
  examples/BEMIO/CAPYTAINE/ellipsoid/bemio.m
  examples/BEMIO/CAPYTAINE/oswec/bemio.m
  examples/BEMIO/CAPYTAINE/rm3/bemio.m
  examples/BEMIO/CAPYTAINE/sphere/bemio.m
  examples/BEMIO/NEMOH/Coer_Comp/bemio.m
  examples/BEMIO/NEMOH/Cubes/bemio.m
  examples/BEMIO/NEMOH/Cylinder/bemio.m
  examples/BEMIO/NEMOH/Ellipsoid/bemio.m
  examples/BEMIO/NEMOH/OSWEC/bemio.m
  examples/BEMIO/NEMOH/RM3/bemio.m
  examples/BEMIO/NEMOH/Sphere/bemio.m
  examples/BEMIO/WAMIT/Coer_Comp/bemio.m
  examples/BEMIO/WAMIT/Cubes/bemio.m
  examples/BEMIO/WAMIT/Cylinder/bemio.m
  examples/BEMIO/WAMIT/Ellipsoid/bemio.m
  examples/BEMIO/WAMIT/OSWEC/bemio.m
  examples/BEMIO/WAMIT/RM3/bemio.m
  examples/BEMIO/WAMIT/Sphere/bemio.m
  examples/BEMIO/WAMIT/WEC3/bemio.m
  examples/OSWEC/hydroData/bemio.m
  examples/OSWEC/wecSimInputFile.m
  examples/RM3/hydroData/bemio.m
  examples/RM3/wecSimInputFile.m
  examples/RM3FromSimulink/hydroData/bemio.m
  source/functions/postProcess.m
  source/lib/WEC-Sim/WECSim_Lib.slx
  source/objects/bodyClass.m
  source/objects/simulationClass.m
  source/objects/waveClass.m
  tutorials/OSWEC/hydroData/bemio.m
  tutorials/RM3/hydroData/bemio.m
Labels: Bug, Waves, Simulation Class

#705 Add start and end time to output.plotWaves()
  examples/OSWEC/userDefinedFunctions.m
  examples/RM3/userDefinedFunctions.m
  source/objects/responseClass.m
Labels: Visualization, Waves, Response Class

#701 Fix run from simulink test model setup
  tests/runFromSimTest.m
Labels: Bug, Tests/CI

#711 Resolves #709 to fix plotResponse by passing cg to output
  examples/OSWEC/userDefinedFunctions.m
  examples/RM3/userDefinedFunctions.m
  source/functions/initializeWecSim.m
  source/functions/postProcess.m
  source/objects/responseClass.m
Labels: Response Class, Body Class

#713 Update output sample time to simu.dtOut in ptosim lib
  source/lib/PTO-Sim/PTOSim_Lib.slx
Labels: PTO-Sim

#720 Simulink Library Revisions including #654
  .github/workflows/run-tests-dev.yml
  .github/workflows/run-tests-master.yml
  .gitignore
  source/lib/WEC-Sim/WECSim_Lib.slx
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/lib/WEC-Sim/WECSim_Lib_Constraints.slx
  source/lib/WEC-Sim/WECSim_Lib_Frames.slx
  source/lib/WEC-Sim/WECSim_Lib_Moorings.slx
  source/lib/WEC-Sim/WECSim_Lib_PTOs.slx
Labels: SCM/Cleanup, Library
