Repository WEC-Sim/WEC-Sim, pull requests merged in 2021-06, with the labels that each got.

#548 Run WEC-Sim from Simulink
  .gitignore
  docs/user/advanced_features.rst
  docs/user/code_structure.rst
  docs/user/tutorials.rst
  docs/user/workflow.rst
  examples/RM3FromSimulink/RM3FromSimulink.slx
  examples/RM3FromSimulink/etaData.mat
  examples/RM3FromSimulink/geometry/float.stl
  examples/RM3FromSimulink/geometry/plate.stl
  examples/RM3FromSimulink/hydroData/README.md
  examples/RM3FromSimulink/hydroData/bemio.m
  examples/RM3FromSimulink/hydroData/rm3.h5
  examples/RM3FromSimulink/hydroData/rm3.out
  examples/RM3FromSimulink/spectrumData.mat
  examples/RM3FromSimulink/userDefinedFunctions.m
  examples/RM3FromSimulink/wecSimInputFile.m
  source/functions/SimulinkModelFunctions/bodyClassCallback.m
  source/functions/SimulinkModelFunctions/customVisibilityCallback.m
  source/functions/SimulinkModelFunctions/etaButtonCallback.m
  source/functions/SimulinkModelFunctions/h5ButtonCallback.m
  source/functions/SimulinkModelFunctions/hardStopCallback.m
  source/functions/SimulinkModelFunctions/inFileButtonCallback.m
  source/functions/SimulinkModelFunctions/inputOrCustomCallback.m
  source/functions/SimulinkModelFunctions/loadInputFileCallback.m
  source/functions/SimulinkModelFunctions/spectrumButtonCallback.m
  source/functions/SimulinkModelFunctions/stlButtonCallback.m
  source/functions/SimulinkModelFunctions/waveClassCallback.m
  source/functions/SimulinkModelFunctions/wecSimStopFunction.m
  source/functions/SimulinkModelFunctions/writeBlocksFromInput.m
  source/functions/SimulinkModelFunctions/writeInputFromBlocks.m
  source/functions/SimulinkModelFunctions/writeLineFromVar.m
  source/functions/wecSimInitialize.m
  source/lib/WEC-Sim/WECSim_Lib.slx
  source/objects/bodyClass.m
  source/objects/simulationClass.m
  source/wecSim.m
  tests/setupFromSimFiles.m
  wecSimTest.m
Labels: Enhancement

#591 Multiple rotations in setInitDisp methods
  source/functions/axisAngle2RotMat.m
  source/functions/rotMat2AxisAngle.m
  source/functions/rotateXYZ.m
  source/objects/bodyClass.m
  source/objects/constraintClass.m
  source/objects/mooringClass.m
  source/objects/ptoClass.m
  wecSimTest.m
Labels: Body Class, Constraint, Enhancement, Mooring, PTO

#611 Fix Combine_BEM Ainf initialization
  source/functions/BEMIO/Normalize.m
Labels: BEM/BEMIO, Bug

#600 Bugfix read capytaine
  source/functions/BEMIO/Radiation_IRF_SS.m
  source/functions/BEMIO/Read_CAPYTAINE.m
Labels: BEM/BEMIO, Bug

#615 Clear temporary variable added in startup.m
  source/wecSimStartup.m
Labels: Enhancement
