Repository WEC-Sim/WEC-Sim, pull requests merged in 2022-07, with the labels that each got.

#870 wecSimPCT Fix (Master)
  source/functions/initializeWecSim.m
  source/functions/stopWecSim.m
  source/wecSimPCT.m
Labels: Bug, MCR/PCT

#896 Fix image bug in PTO-Sim in Library Browser
  source/lib/PTO-Sim/BlockFigures/DirectDriveLinearGenerator.png
  source/lib/PTO-Sim/BlockFigures/DirectDriveRotaryGenerator.png
  source/lib/PTO-Sim/PTOSim_Lib.slx
Labels: Bug, PTO-Sim

#877 initial commit largeXYDispOption
  docs/user/advanced_features.rst
  examples/RM3/wecSimInputFile.m
  source/functions/simulink/model/calcDispPhase.m
  source/functions/simulink/model/regnLYaw.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
Labels: Body Class

#856 Remove fixed mass option
  docs/user/advanced_features.rst
  examples/OSWEC/wecSimInputFile.m
  source/objects/bodyClass.m
  tutorials/OSWEC/OSWEC_wecSimInputFile.m
  tutorials/OSWEC/wecSimInputFile.m
Labels: Body Class

#923 Save slx files in 2020b fixes #920
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/lib/WEC-Sim/WECSim_Lib_Frames.slx
Labels: Bug, Body Class, Library

#911 update to v5.0 citation
  docs/introduction/citation.rst
  docs/introduction/index.rst
  docs/introduction/publications.rst
  docs/introduction/release_notes.rst
Labels: Documentation

#884 Fix readCAPYTAINE
  source/functions/BEMIO/readCAPYTAINE.m
Labels: Bug, BEM/BEMIO
