Repository WEC-Sim/WEC-Sim, pull requests merged in 2022-02, with the labels that each got.

#802 Update response class API
  source/functions/postProcessWecSim.m
  source/objects/ptoSimClass.m
  source/objects/responseClass.m
  source/objects/simulationClass.m
Labels: Documentation, Response Class

#808 Update to normalize to handle sorting mean drift forces
  source/functions/BEMIO/Normalize.m
  source/functions/BEMIO/Read_NEMOH.m
Labels: Bug

#809 Update to normalize for mean drift force in dev
  source/functions/BEMIO/normalizeBEM.m
  source/functions/BEMIO/readNEMOH.m
Labels: Bug

#807 Remove passiveYawTest.m
  tests/passiveYawTest.m
Labels: SCM/Cleanup, Tests/CI
