Repository WEC-Sim/WEC-Sim, pull requests merged in 2023-10, with the labels that each got.

#1136 Bug fixes for v6.0
  source/functions/paraview/writeParaviewMooring.m
  source/lib/WEC-Sim/WECSim_Lib_Frames.slx
  source/lib/WEC-Sim/WECSim_Lib_Moorings.slx
  source/objects/waveClass.m
  source/wecSim.m
Labels: Bug

#1142 Updating WEC-Sim tests for dev branch
  .github/workflows/run-tests-dev.yml
Labels: Bug, Tests/CI

#1144 Path fix for BEMIO example
  examples/BEMIO/compareBEMIO.m
Labels: Bug, BEM/BEMIO
