Repository WEC-Sim/WEC-Sim, pull requests merged in 2023-05, with the labels that each got.

#1018 Control applications docs
  docs/_static/images/declutchTimeSweep.png
  docs/_static/images/declutching.png
  docs/_static/images/impedance.png
  docs/_static/images/latchTimeSweep.png
  docs/_static/images/latching.png
  docs/_static/images/mpcForce.png
  docs/_static/images/mpcForceChange.png
  docs/_static/images/mpcPos.png
  docs/_static/images/mpcPower.png
  docs/_static/images/mpcSimulink.png
  docs/_static/images/mpcVel.png
  docs/_static/images/pGainSweep.png
  docs/_static/images/piGainSweep.png
  docs/conf.py
  docs/refs/WEC-Sim_Adv_Features.bib
  docs/user/advanced_features.rst
  docs/user/applications.rst
Labels: Control

#1048 Add function to read h5 file to hydro data structure
  examples/BEMIO/compareBEMIO.m
  examples/OSWEC/hydroData/oswec.h5
  examples/RM3/hydroData/rm3.h5
  source/functions/BEMIO/readH5ToStruct.m
  source/functions/BEMIO/writeBEMIOH5.m
Labels: BEM/BEMIO

#1045 Update radiationIRF.m
  source/functions/BEMIO/radiationIRF.m
Labels: BEM/BEMIO

#1049 Normalize quaternion to increase simulation robustness
  source/functions/simulink/model/quaternion2EulXYZ.m
Labels: Constraint Class

#1034 Plot bemio features
  docs/_include/bemio.rst
  examples/BEMIO/compareBEMIO.m
  source/functions/BEMIO/addDefaultPlotVars.m
  source/functions/BEMIO/checkAndFormatPlotVars.m
  source/functions/BEMIO/combineBEM.m
  source/functions/BEMIO/formatPlot.m
  source/functions/BEMIO/getDofNames.m
  source/functions/BEMIO/plotAddedMass.m
  source/functions/BEMIO/plotBEMIO.m
  source/functions/BEMIO/plotExcitationIRF.m
  source/functions/BEMIO/plotExcitationMagnitude.m
  source/functions/BEMIO/plotExcitationPhase.m
  source/functions/BEMIO/plotRadiationDamping.m
  source/functions/BEMIO/plotRadiationIRF.m
  source/functions/BEMIO/readAQWA.m
  source/functions/BEMIO/readCAPYTAINE.m
  source/functions/BEMIO/readNEMOH.m
  source/functions/BEMIO/readWAMIT.m
Labels: BEM/BEMIO

#1052 Updates to Morison Element Implementation
  source/functions/simulink/model/irregWaveMorison.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Drag/Morison, Body Class

#1059 Bugfix resolving documentation build error
  README.md
  docs/environment.yml
Labels: Bug, Documentation

#1061 Add windows runner to dev branch unit test workflow
  .github/workflows/run-tests-dev.yml
Labels: Tests/CI
