Repository WEC-Sim/WEC-Sim, pull requests merged in 2023-11, with the labels that each got.

#1166 Exclude R2020b and R2021a from Windows test runners
  .github/workflows/run-tests-dev.yml
  .github/workflows/run-tests-master.yml
Labels: Tests/CI

#1076 adding bemio cleanup function
  source/functions/BEMIO/badBemioFix_fcn.m
  source/functions/BEMIO/readWAMIT.m
Labels: Enhancement, BEM/BEMIO, Cable Class

#1170 Remove dead code from wecSim.m
  source/wecSim.m
Labels: SCM
