Repository WEC-Sim/WEC-Sim, pull requests merged in 2024-10, with the labels that each got.

#1330 Fixing documentation inconsistency for PTO-Sim blocks
  source/objects/ptoSimClass.m
Labels: Bug, Documentation, PTO-Sim

#1342 Update Google analytics implementation in docs
  docs/conf.py
  docs/environment.yml
Labels: Documentation

#1341 Fixing documentation inconsistency for PTO-Sim blocks (#1330)
  docs/conf.py
  docs/environment.yml
  source/objects/ptoSimClass.m
Labels: Documentation, PTO-Sim

#1340 Resolve issue #1305 - MATLAB deprecation warning in readWAMIT
  source/functions/BEMIO/readWAMIT.m
Labels: BEM/BEMIO, WAMIT
