Repository WEC-Sim/WEC-Sim, pull requests merged in 2024-09, with the labels that each got.

#1253 [BUG] Update readAQWA to fix excitation phase and b2b loading issues - main branch
  source/functions/BEMIO/readAQWA.m
Labels: Bug, BEM/BEMIO, B2B

#1273 Expand regression tests
  tests/regressionTest.m
Labels: BEM/BEMIO, Tests/CI

#1306 BEMIO Unit Updates
  source/functions/BEMIO/writeBEMIOH5.m
Labels: BEM/BEMIO

#1301 Speed up writeBEMIOH5
  source/functions/BEMIO/writeBEMIOH5.m
Labels: BEM/BEMIO

#1307 Update readAQWA.m (#1253)
  source/functions/BEMIO/readAQWA.m
Labels: BEM/BEMIO

#1248 Variable hydrodynamics
  source/functions/BEMIO/addDefaultPlotVars.m
  source/functions/initializeWecSim.m
  source/functions/postProcessWecSim.m
  source/functions/simulink/mask/writeBlocksFromInput.m
  source/functions/simulink/model/struct2bus.m
  source/functions/stopWecSim.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
  source/objects/responseClass.m
  source/wecSimMCR.m
Labels: Feature, BEM/BEMIO, Body Class

#1275 readCapytaine - get Khs from .nc files when bodies have less than 6 DOFs
  source/functions/BEMIO/readCAPYTAINE.m
Labels: BEM/BEMIO

#1312 QTF - Variable Hydro compatibility
  source/functions/simulink/mask/writeInputFromBlocks.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
Labels: Feature

#1317 Resolve conflicts between variable hydro and GBM
  source/functions/initializeWecSim.m
  source/functions/moorDyn/README.md
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
Labels: Bug
