Repository WEC-Sim/WEC-Sim, pull requests merged in 2024-12, with the labels that each got.

#1355 User Defined Body Propterties v2
  source/functions/initializeWecSim.m
  source/objects/bodyClass.m
Labels: Body Class

#1349 Update cable tension for negative displacements
  source/functions/simulink/model/calcCableTens.m
  source/objects/cableClass.m
  tests/cableTensionTest.m
  wecSimTest.m
Labels: Cable Class

#1332 Full dir spectra (resolved conflicts)
  docs/theory/theory.rst
  docs/user/code_structure.rst
  source/functions/initializeWecSim.m
  source/functions/simulink/model/calcDispPhase.m
  source/functions/simulink/model/irregExcFullDirF.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
  source/objects/waveClass.m
Labels: Wave Class

#1379 Update flex body (GBM) to allow for nonlinear hydrodynamics (on first 6 DOF)
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Nonlinear hydro, GBM

#1382 Fix mooring path check
  source/functions/initializeWecSim.m
Labels: Bug
