Repository WEC-Sim/WEC-Sim, pull requests merged in 2025-05, with the labels that each got.

#1455 ParaView feature for multiple mooring connections #1440
  docs/_include/mooring.rst
  source/functions/paraview/WEC-Sim.py
  source/functions/paraview/paraviewVisualization.m
  source/functions/paraview/writeParaviewMooring.m
  source/functions/paraview/writeParaviewResponse.m
  source/functions/paraview/writeParaviewWave.m
  source/functions/postProcessWecSim.m
  source/objects/responseClass.m
Labels: Feature, Visualization, MoorDyn

#1464 Bug fix for drag and nonhydro body block mass
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Bug

#1461 QTF Standing (Newman) Approximation
  docs/user/advanced_features.rst
  source/functions/BEMIO/QTFs/triToFullMatrix.m
  source/objects/bodyClass.m
Labels: Feature, Body Class

#1465 Enable Variable Mass
  docs/_include/added_mass.rst
  docs/_include/variable_hydro.rst
  docs/developer/advanced_features.rst
  source/functions/initializeWecSim.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
Labels: Variable Hydro

#1467 Fix wave generation with phaseSeed in waveClass for PCT
  source/objects/waveClass.m
Labels: Bug, Wave Class

#1468 Fix mask for flex body
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Body Class

#1478 Modified sign convention when a cable pretension is defined
  source/objects/cableClass.m
Labels: Bug, Cable Class

#1473 Fixing Regression Tests for RM3
  tests/RegressionTests/IrregularWaves/irregularCIC/irregularCIC_org.mat
  tests/RegressionTests/IrregularWaves/irregularCIC/runLoadIrregularCIC.m
  tests/RegressionTests/IrregularWaves/irregularSS/irregularSS_org.mat
  tests/RegressionTests/IrregularWaves/irregularSS/runLoadIrregularSS.m
  tests/RegressionTests/IrregularWaves/printPlotIrregular.m
  tests/RegressionTests/RegularWaves/printPlotRegular.m
  tests/RegressionTests/RegularWaves/regular/regular_org.mat
  tests/RegressionTests/RegularWaves/regular/runLoadRegular.m
  tests/RegressionTests/RegularWaves/regularCIC/regularCIC_org.mat
  tests/RegressionTests/RegularWaves/regularCIC/runLoadRegularCIC.m
  tests/RegressionTests/RegularWaves/regularSS/regularSS_org.mat
  tests/RegressionTests/RegularWaves/regularSS/runLoadRegularSS.m
  tests/regressionTest.m
Labels: Bug, Tests/CI
