Repository WEC-Sim/WEC-Sim, pull requests merged in 2025-03, with the labels that each got.

#1401 Bug fixes for applications
  .github/workflows/run-tests-dev.yml
  .github/workflows/run-tests-main.yml
  source/functions/moorDyn/README.md
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Bug, SCM, Tests/CI

#1429 Pull a few fixes from dev into main
  source/objects/bodyClass.m
Labels: SCM

#1425 Fix treatment of the inertia products in body.adjustMassMatrix
  docs/_include/added_mass.rst
Labels: Documentation, Added Mass

#1421 build Body from hydro structure directly
  docs/user/advanced_features.rst
  source/functions/BEMIO/readH5ToStruct.m
  source/functions/BEMIO/rebuildHydroStruct.m
  source/functions/initializeWecSim.m
  source/objects/bodyClass.m
Labels: Body Class
