Repository WEC-Sim/WEC-Sim, pull requests merged in 2025-07, with the labels that each got.

#1494 Update variable mass implementation and add documentation
  docs/_include/variable_hydro.rst
  docs/user/applications.rst
  source/objects/bodyClass.m
Labels: Documentation, Body Class

#1499 Nonhydro and drag body mass bugfix
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Bug

#1474 Body Library Refactoring
  docs/developer/library.rst
  docs/user/advanced_features.rst
  docs/user/code_structure.rst
  examples/RM3FromSimulink/RM3FromSimulink.slx
  examples/RM3FromSimulink/elevationData.mat
  examples/RM3FromSimulink/geometry/float.stl
  examples/RM3FromSimulink/geometry/plate.stl
  examples/RM3FromSimulink/hydroData/README.md
  examples/RM3FromSimulink/hydroData/bemio.m
  examples/RM3FromSimulink/hydroData/rm3.h5
  examples/RM3FromSimulink/hydroData/rm3.out
  examples/RM3FromSimulink/spectrumData.mat
  examples/RM3FromSimulink/userDefinedFunctions.m
  examples/RM3FromSimulink/wecSimInputFile.m
  source/functions/initializeWecSim.m
  source/functions/simulink/mask/ExtractMaskVariables.m
  source/functions/simulink/mask/bodyClassCallback.m
  source/functions/simulink/mask/customVisibilityCallback.m
  source/functions/simulink/mask/etaButtonCallback.m
  source/functions/simulink/mask/h5ButtonCallback.m
  source/functions/simulink/mask/hardStopCallback.m
  source/functions/simulink/mask/inFileButtonCallback.m
  source/functions/simulink/mask/inputOrCustomCallback.m
  source/functions/simulink/mask/loadInputFileCallback.m
  source/functions/simulink/mask/ptoSimClassCallback.m
  source/functions/simulink/mask/spectrumButtonCallback.m
  source/functions/simulink/mask/stlButtonCallback.m
  source/functions/simulink/mask/waveClassCallback.m
  source/functions/simulink/mask/writeBlocksFromInput.m
  source/functions/simulink/mask/writeInputFromBlocks.m
  source/functions/simulink/mask/writeLineFromVar.m
  source/functions/simulink/model/nonFKForce.m
  source/functions/stopWecSim.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/lib/WEC-Sim/WECSim_Lib_Cables.slx
  source/lib/WEC-Sim/WECSim_Lib_Constraints.slx
  source/lib/WEC-Sim/WECSim_Lib_Frames.slx
  source/lib/WEC-Sim/WECSim_Lib_Moorings.slx
  source/lib/WEC-Sim/WECSim_Lib_PTOSim.slx
  source/lib/WEC-Sim/WECSim_Lib_PTOs.slx
  source/objects/bodyClass.m
  source/wecSim.m
  tests/RegressionTests/IrregularWaves/irregularCIC/runLoadIrregularCIC.m
  tests/RegressionTests/IrregularWaves/irregularSS/runLoadIrregularSS.m
  tests/RegressionTests/IrregularWaves/irregularSpread_OSWEC/runLoadIrregularSpread_OSWEC.m
  tests/RegressionTests/RegularWaves/regular/runLoadRegular.m
  tests/RegressionTests/RegularWaves/regularCIC/runLoadRegularCIC.m
  tests/RegressionTests/RegularWaves/regularSS/runLoadRegularSS.m
  tests/regressionTest.m
  tests/runFromSimTest.m
  wecSimTest.m
Labels: Body Class, SCM

#1489 Refactor badBemioFix_fcn
  docs/theory/theory.rst
  source/functions/BEMIO/badBemioFix_fcn.m
  source/functions/BEMIO/cleanBEM.m
  source/functions/BEMIO/radiationIRF.m
Labels: BEM/BEMIO

#1515 `waveClass` Constructor Improvements
  source/objects/+internal/waveType.m
  source/objects/waveClass.m
Labels: Wave Class
