Repository WEC-Sim/WEC-Sim, pull requests merged in 2025-04, with the labels that each got.

#1453 adding spread fix to flex
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Wave Class

#1454 Excitation spread fix dev
  source/functions/simulink/model/nonFKForce.m
  source/functions/simulink/model/waveElevation.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
Labels: Wave Class

#1441 Fix paraview output function
  source/functions/paraview/paraviewVisualization.m
Labels: Bug, Visualization, Simulation Class

#1411 Variable hydro improvements
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/_include/added_mass.rst
  docs/_include/variable_hydro.rst
  docs/_static/images/variable_hydro_irf.png
  docs/_static/images/variable_hydro_irf_surface.png
  docs/theory/theory.rst
  source/functions/initializeWecSim.m
  source/functions/postProcessWecSim.m
  source/functions/simulink/model/ConvolutionIntegral_interp.m
  source/functions/simulink/model/convolutionIntegralSurface.m
  source/lib/WEC-Sim/WECSim_Lib_Body_Elements.slx
  source/objects/bodyClass.m
  source/objects/responseClass.m
  source/objects/simulationClass.m
  tests/cicTest.m
  wecSimTest.m
Labels: Body Class, Library
